<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <% if(user) { %>
    <p>Welcome <%= user.nickname %></p>
    <p>View all notes <a href="/all-notes">here</a></p>
    <% } else { %>
    <p>Welcome! Login to continue: <a href="/login">Login</a></p>
    <% } %>
  </body>
</html>
